# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.venv/
venv/
ENV/

# Env files
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/
.claude/
